@model IEnumerable<YCSOrderSystem.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtyOnHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SuppName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtyOnHand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SuppName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdNum })
        </td>
    </tr>
}

</table>
