@model YCSOrderSystem.Models.Salary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Benefits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Benefits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deductions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deductions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.StaffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaryNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
