@model IEnumerable<YCSOrderSystem.Models.Salary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Benefits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deductions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.StaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Benefits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deductions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.StaffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalaryNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalaryNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalaryNum })
        </td>
    </tr>
}

</table>
